/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #162b4d;
  --link: #fff;
  --link--hover: #b8b8b8;
  --bg-footer-color: #162b4d;;
}

body {
  font-family: roboto;
  background-color: #0b192f;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.post-1 {
  background: #B71757;
}
.post-2 {
  background: #0D7E71;
}
.post-3 {
  background: #b1660e;
}
.post-4 {
  background: #d12767;
}
.post-5 {
  background: #2d95bb;
}
header{
  background-color: #162b4d;
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: fixed;
  z-index: 1;
}

.dropbtn {
  background-color: #162b4d;
  color: white;
  padding: 16px;
  font-size: 25px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #162b4d;}


.btn-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn-two span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);

}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}


table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  }
  th, td:first-child {
  background:#0b192f;
  color: white;
  padding: 10px 20px;
  }
  th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  }
  td {
  background: #0b192f;
  }
  th:first-child, td:first-child {
  text-align: left;
  }

a{
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 0 20px;
}
.header-name{
  color: white;
  font-size: 60px;
  padding-left: 60px;
  margin: 0;
  display: flex;
  align-items: center;
}
.blog-name{
  color: #d12767;
}
nav{
  padding-right: 40px;
  display: flex;
  align-items: center;
}
a:hover{
  background-color: #b8b8b8;
  height: 100px;
  display: flex;
  align-items: center;
}
main{
  width: 70%;
  justify-content: space-between;
  display: flex;
  margin-top: 130px;
}
footer{
  background-color: #162b4d;
  width: 70%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
  color: white;
}
.footer-left, .footer-right{
  padding: 15px;
  align-items: center;
}
img{
  width: 100%;
  height: 100%;
}
.post-img:hover{
  opacity: 0.5;
}
.post-width{
  width: 50%;
  display: flex;
}
.post{
  color: white;
  cursor: pointer;
  display: flex;
}
.main-text{
  width: 85%;
  padding: 20px;
}
.date{
  text-align: center;
  width: 15%;
  padding: 5px;
  opacity: 0.7;
}
.posts h1{
  font-size: 50px;
}
.posts p{
  font-size: 20px;
  opacity: 0.7;
}
.number-date{
  font-size: 45px;
}
.posts{
  display: flex;
  flex-direction: column-reverse;
  width: 75%;
}
.post:nth-child(odd){
  flex-direction: row-reverse;
}
.post-5{
  width: 100%;
}
.anouther-post{
  width: 100%;
}.anouther-post:hover{
  opacity: 0.5;
}
.post-text:hover{
  opacity: 0.5;
}
.row{
  flex-direction: row-reverse;
  text-align: right;
}
.news{
  width: 28%;
  padding-left: 15px;
}
.news-text{
  background-color: white;
  padding: 20px;
}
.news-img{
  display: flex;
}
.news-2{
  margin-top: 20px;
}
.news p{
  opacity: 0.5;
}
@media (max-width: 480px){
  header{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  .header-name{
    padding: 0;
  }
  nav{
    display: none;
  }
  main{
    width: 97%;
    display: flex;
    flex-direction: column;
  }
  .post-width{
    width: 100%;
  }
  .post{
    display: flex;
    flex-wrap: wrap-reverse;
  }
  footer p{
    margin: 0;
    font-size: 14px;
  }
  .posts{
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
  }
  .news{
    padding: 0;
    width: 100%;
  }
  .footer-left, .footer-right{
    padding: 0;
  }
  footer{
    height: 100% !important;
    width: 100%;
  }
  .post-text{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  .date{
    margin: 0 auto;
  }
}
  @media (min-width: 480px) and (max-width: 768px){
    nav{
      display: none;
    }
    .post-width{
      width: 100%;
    }
    .post{
      display: flex;
      flex-wrap: wrap-reverse;
    }
    .post-text{
      display: flex;
      flex-wrap: wrap;
      text-align: left;
    }
    .date{
      margin: 0 auto;
    }
    .posts{
      width: 60%;
    }
    .news{
      width: 37%;
    }
    .posts h1{
      font-size: 35px;
    }
    .posts p{
      font-size: 15px;
    }
    .main-text{
      padding: 15px;
    }
    .header-name{
      margin-left: auto;
      margin-right: auto;
    }
    .news-text h1{
      font-size: 17px;
    }
    .news-text p{
      font-size: 13px;
    }
    footer p{
      font-size: 13px;
    }
    
    
    
   
  }

/* Your styles go here */